[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/htiple
[access "refs/for/refs/*"]
	read = group user/htiple
	push = group user/htiple
	label-Code-Review = -2..+2 group user/htiple
	label-Verified = -1..+1 group user/htiple
	rebase = group user/htiple
	removeReviewer = group user/htiple
	submit = group user/htiple
[access "refs/heads/*"]
	read = group user/htiple
	create = group user/htiple
	push = +force group user/htiple
	pushMerge = group user/htiple
[access "refs/tags/*"]
	push = +force group user/htiple
	pushTag = group user/htiple
	pushSignedTag = group user/htiple
